<!DOCTYPE html>
<html>
<head>
	<title>Upload To Your Server</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="dropzone.css">


</head>
<body class='container-fluid'>

  <div class="row">
    <div class="col-sm-12">
    	<h3>Your Own File Sharing Server</h3>  
    </div>
  </div><!--/row-->
  <hr>


<div class="col-sm-6">
  <form action="/upload" class="dropzone" drop-zone="" id="file-dropzone"></form>
</div>




<div class="col-sm-6">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Download" aria-controls="Download" role="tab" data-toggle="tab">Download</a></li>
    <li role="presentation"><a href="#Delete" aria-controls="Delete" role="tab" data-toggle="tab">Delete</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Download">
      <div class="button-group row">
        {{#each files_list as |file|}}
            <a  class="btn btn-default btn-xs col-sm-3" href="download/{{file.file_name}}" target='_blank' download='{{file.file_name}}'>{{file.file_name}}</a>
        {{/each}}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="Delete">
      <div class="button-group row">
        {{#each files_list as |file|}}
            <a  class="btn btn-danger btn-xs col-sm-3" href="delete/{{file.file_name}}">{{file.file_name}}</a>
        {{/each}}
      </div>
    </div>
  </div>

</div>



<script type="text/javascript" src='dropzone.min.js'></script>
<script type="text/javascript">
	//DropzoneJS snippet - js

  // instantiate the uploader
  $('#file-dropzone').dropzone({ 
    url: "/upload",
    maxFilesize: 100,
    paramName: "uploadfile",
    maxThumbnailFilesize: 5,
    init: function() {
      this.on('success', function(file, json){ 
        console.log("done"); 
        location.reload();
      });
      this.on('addedfile', function(file){ console.log("added") });
      this.on('drop', function(file){ console.log('file droped') });
    }
  });

$(document).ready(function(){});
</script>
</body>
</html>